@*@inject SignInManager<IdentityUser> signInManager*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="Content-Security-Policy"
          content="base-uri 'self';
           	block-all-mixed-content;
           	default-src 'self';
           	img-src data: https:;
           	object-src 'none';
            form-action 'self';
           	script-src 'self';
           	style-src 'self';
           	upgrade-insecure-requests;">
    <title>@ViewData["Title"] - UT Collisions</title>
    <link rel="icon" type="image/x-icon" href="~/assets/logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/MyStyles.css" rel="stylesheet" />
</head>
<body>

    <div class="navdark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand m-lg-2">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">
                        @*<img src="~/img/fender-bender.png"/>*@
                        <span class="display-4">UT Collision Home</span>
                    </a>
                </div>

                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <ul style="list-style-type:none">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Admin"
                                   asp-action="ListUsers">Users</a>
                                <a class="dropdown-item" asp-controller="Admin"
                                   asp-action="ListRoles">Roles</a>
                            </div>
                        </li>
                    </ul>
                    <div class="nav-item">
                        <a class="btn btn-lg btn-crashLightGrey" asp-controller="Admin" asp-action="AdminHome">
                            Admin Home
                        </a>
                    </div>
                 
                }
                
                @if (signInManager.IsSignedIn(User))
                {
                    <div class="nav-item">
                        <form method="post" asp-action="Logout" asp-controller="Home">
                            <button type="submit" class="btn btn-lg btn-crashLightGrey" style="width:auto">
                                Logout @User.Identity.Name
                            </button>

                        </form>

                    </div>

                }
                else
                {
                    <div class="nav-item">
                        <a asp-action="Login" asp-controller="Home" class="btn btn-lg btn-crashLightGrey">Login</a>
                    </div>
                }

            </div>
        </div>
</div>

    <div class="row">
        <div class="col">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - UTCollisionApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }


</body>
</html>