@{
    ViewData["Title"] = "Admin Home";
}
@inject SignInManager<IdentityUser> signInManager;
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model IEnumerable<Crash>
<h1 class="text-center display-1 font-weight-bold m-5">Welcome, @User.Identity.Name!</h1>


<div class="row mt-5 mb-5">
    <div class="col-1"></div>
    <div class="col-5 text-center border-right">
        <p class="display-4 pt-2 pb-2">Add a car crash.</p>
        <a class="btn btn-lg btn-crashBlue btn-outline-crashBlue text-white mb-4" asp-controller="Admin" asp-action="AddCrashForm">Add Crash</a>
    </div>

    <div class="col-5 text-center">
        <p class="display-4 pt-2 pb-2">Search, Edit, or Delete a car crash.</p>
        <a class="btn btn-lg btn-crashBlue btn-outline-crashBlue text-white mb-4" asp-controller="Admin" asp-action="CrashTable">Search, Edit, Delete</a>
    </div>
    <div class="col-1"></div>
</div>
<div class="crashDarkGrey text-white p-4 pt-3">
    <div class="row mt-2 text-center">
        <p class="display-4 font-weight-bolder col mt-3">Role Based Authentication Control:</p>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-4 text-center border-right">
            <a class="display-4 font-weight-bold pt-2 pb-2" asp-controller="Admin"
               asp-action="ListUsers">Manage Users</a>
        </div>

        <div class="col-4 text-center border-right">
            <a class="display-4 font-weight-bold pt-2 pb-2" asp-controller="Admin"
               asp-action="ListRoles">Manage Roles</a>
        </div>
        <div class="col-4 text-center">
            <a class="display-4 font-weight-bold pt-2 pb-2" href="https://csrc.nist.gov/glossary/term/rbac">Learn More</a>
        </div>
    </div>
</div>
