@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <p class="display-2">Search Crashes</p>
</div>

<div class="row">
    <div class="col-2">
        View Component (filter by county)
    </div>

    <div class="col-7">

        <table class="table table-bordered table-striped mt-3">

            <thead class="bg-success">
                <tr>
                    <th>County</th>
                    <th>State</th>
                    <th>Date</th>
                    <th>Severity</th>
                    <th>Route</th>
                    <th colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                @* Load data from the tables here *@
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit Button</td>
                    <td>Delete Button</td>

                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-3">
        Detailed filters?
    </div>
</div>
