@model CreateUserViewModel

@{

}
<html>

<head>
    <meta name"viewport" content="width=device-width" />
    <title>Create User</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-l-2"></span>

    </div>

    <div class="m-1 p-1">

        <div class="text-danger" asp-validation-summary="All"></div>

        <form method="post" asp-controller="Home" asp-action="CreateUser">

            <div class="form-group">
                <label asp-for="UserName">UserName:</label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm Password:</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button class="btn btn-primary" type="submit">Create User</button>

            <input type="hidden" asp-for="ReturnUrl" />

        </form>
    </div>


</body>


</html>