@{
    ViewData["Title"] = "Home";
}

@* Secondary Navbar *@
<!--<div class="bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar p-2">
                <a class="nav-link float-end p-2 text-white" style="position:center">Statistics</a>
                <a class="nav-link float-end p-2 text-white" style="position:center" asp-controller="Predictor" asp-action="SeverityCalc">Severvity Calculator</a>
                <a class="nav-link float-end p-2 text-white" style="position:center" href="#contact">Contact Us</a>
            </div>

        </div>
    </div>
</div>-->

@* Stat Summary/Picture Carousel/Contact *@
<div class="row crashDarkGrey font-weight-bold p-3">
    <div class="col-3">
        <div class="card text-center m-3">
            <h4 class="text-center"><b>2019 Stats</b></h4>
            <p class="bg-danger text-white m-2 p-2 mb-2 rounded-pill">Total Deaths: @ViewBag.Deaths</p>
            <p class="bg-warning text-white m-2 p-2 mb-2 rounded-pill">Total Injuries: @ViewBag.Injuries</p>
            <p class="bg-success text-white m-2 p-2 mb-2 rounded-pill">Total Accidents: @ViewBag.Accidents</p>
        </div>
        <div class="card m-3 mt-4 pl-3">
            <h4 class="text-left"id="contact" style="font-size:40px;"><span class="display-4 font-weight-bolder"><b>Y</b></span>our</h4>
            <h4 class="text-left" id="contact" style="font-size:40px;"><span class="display-4 font-weight-bolder"><b>E</b></span>veryday</h4>
            <h4 class="text-left" id="contact" style="font-size:40px;"><span class="display-4 font-weight-bolder"><b>E</b></span>valuation</h4>
            <h4 class="text-left" id="contact" style="font-size:40px;"><span class="display-4 font-weight-bolder"><b>T</b></span>ool (for crashes)</h4>
        </div>
    </div>

    <div class="col-6">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/img/crash4.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/img/picture1.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/img/picture2.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-3">
        <div class="text-center m-3">

            <a class="p-2 text-white btn btn-lg btn-crashBlue btn-block" asp-action="Statistics">Statistics</a><br />
            <a class="p-2 text-white btn btn-lg btn-crashBlue btn-block" asp-controller="Predictor" asp-action="SeverityCalc">Severvity Calculator</a><br />
            <a class="p-2 text-white btn btn-lg btn-crashBlue btn-block" asp-controller="Predictor" asp-action="CrashLocator">Crash Locator</a><br />
            <a class="p-2 text-white btn btn-lg btn-crashBlue btn-block" href="#contact">Contact Us</a>
        </div>

        <div class="card m-3">
            <h4 class="text-center" id="contact">Contact Barbra Freeman for additional information about the Traffic Records Program:</h4>
            <br />
            <p class="text-center" style="font-size:20px;"><b>Phone:</b><br />(801) 783-7250</p>
            <p class="text-center" style="font-size:20px;"><b>Email:</b><br /><a href="mailto:befreeman@utah.gov" target="_blank">bafreeman@utah.gov</a></p>
        </div>
    </div>
</div>

@* Title *@
<br />
<div class="text-center container-fluid">
    <h1 class="display-3">Utah State Collision Center</h1>
</div>


@* Body *@
<br />
<div class="row container-fluid">
    <div class="col-2"></div>

    <div class="col-8">
        <h3>Statistics</h3>
        <p class="mb-0">
            Utah has a unique set of challenges when it comes to motor vehicle accidents.
            For example, although alcohol is still a problem, it may be less of a problem in Utah than distracted driving.
            Lawmakers need to understand these unique challenges better in order to regulate effectively.
        </p>
        <br /><p class="mb-0">
            In 2006 UDOT created the Zero Fatalities campaign to dive deeper into these unique challenges. Their statment is that every person behind the wheel of a vehicle should take 
            responsibility for themselves and other
            motorists to drive safely. Due to COVID-19, in early 2020 the Federal Highway Administration saw that the number of miles driven on public roads reached its lowest point in nearly 20 years,
            yet there was an 8% increase in fatalities from the year before. In March of 2021 UDOT and DPS launched a new campaign to combat the rising number of fatalities despite fewer vehicles on the road.
            Researchers saw that Utahns believed their dangerous actions were acceptable behind the wheel. Their campaign name "Our lies are costing lives"
            is to help raise awareness about the five deadly driving behaviors:
            <ol class="mt-2">
                <li>Distracted driving</li>
                <li>Aggressive driving, which includes driving too fast</li>
                <li>Drowsy driving</li>
                <li>Impaired driving, including drugs even if they're presricptions</li>
                <li>Not wearing seatbelts</li>
            </ol>
        </p>
        <p>
            Our goal is to assist UDOT in better understanding Utah roads and how we can make Utah roads safe. 
            A dataset has been collected on motor vehicle collisions during three years: 2016, 2017, and 2019.
            This dataset and the other analyses provided will help lawmakers understand what is causing high number of car crashes, which will lead to effective changes and safer roads.
        </p>
        <p class="mb-0">
            This data has been stored in a searchable database and we created a web application that allows users to view all the data and predictions.
            Those who need to further investiagate
            will have the privileges to add/view/update/delete records.
            We have also created a severity predictor where a user can enter certain details and then see a prediction of how bad the crash would be for them. 
            We hope this database, web application, and predictor will help all sides in lowering the number of crashes in Utah.
        </p>
    </div>

    <div class="col-2"></div>
</div>

<br />
<br />

<div id="cookie" class="d-flex justify-content-center mt-5 sticky-bottom">
    <div class="card p-3 cookie">
        <span>
            We use cookies to personalize content.<br />
        </span>
        <a asp-action="Privacy">Learn more<i class="fa fa-angle-right ml-2"></i></a>

        <div class="mt-4 text-right">
            <span class="mr-3 decline">Decline</span>
            <button class="btn btn-light btn-sm" type="button" href="#" onclick="removeDiv()">Allow cookies</button>
        </div>
    </div>
</div>



